html {
    scroll-behavior: smooth;
}
body {
    background-color: lightblue;
    padding: 0;
    margin: 0;
}
.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 30px;
    position: inherit;
}
.nav-option {
    font-weight: 200;
    
}
.nav-option a {
    text-decoration: none;
    color: black;
}
.nav-option:hover {
    text-decoration: underline;
    cursor: pointer;
}
#home,#about,#skills,#projects,#contact {
    height: 100vh;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
#home,#skills,#contact {
    background-color: rgb(255,255,255,0.5);
}
#about,#projects {
    background-color: lightblue;
}
.profile-photo {
    width: 30rem;
    height: 30rem;
    background:url('profile-photo.jpg');
    background-size: cover;
    border: 1px solid black;
    transform: translateX(105%);
    border-radius: 50%;
}
#home {
    background: url('hero.jpg');
    background-size: cover;
}
.hero {
    background-color: rgb(255,255,255,0.5);
    width: 100%;
    height: 100%;
    text-align: center;
}
.about-img {
    width: 40rem;
    height: 40rem;
    background:url('about-image.png');
    background-size: cover;
    border-radius: 50%;
    margin-right: 5rem;
    border: 1px solid black;
}
.about-section {
    display: flex;
}
.about-text {
    width: 40rem;
    height: 40rem;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar {
    height: 10px;
    background-color: #ddd;
    width: 450px;
    border: 1px solid black;
    border-radius: 15px;
}

.progress-bar-fill {
    height: 100%;
    background-color: #4CAF50;
    width: 50%;
    border-radius: inherit;
}
.progress-box {
    background-color: lightblue;
    padding: 2.5rem;
    border-radius: 15px;
    margin: 1rem;
    font-size: large;
    line-height: 1.5rem;
}
.skill-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.skill-intro {
    padding: 2rem;
}
.project-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.project-item {
    width: 25rem;
    height: 25rem;
    background-color: black;
    margin: 1rem;
    border-radius: 2rem;
    border: 1px solid black;
}
#project-1 {
    background: url('../images/project-1.jpg');
    background-size: cover;
}
#project-2 {
    background: url('../images/project-2.jpg');
    background-size: cover;
}
#project-3 {
    background: url('../images/project-3.jpg');
    background-size: cover;
}
.img-cover {
    padding: 0;
    background-color: black;
    opacity: 0.5;
}

/* ! Projects Section */
.card {
    position: relative;
    height: 25rem;
    width: 25rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: box-shadow 0.2s ease-in-out;
    background: url('../images/project-1.jpg');
    background-size: cover;
    border-radius: 10px;
    margin: 2rem;
}
.card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
.card-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    border-radius: 10px;
    line-height: 2rem;
}
.card:hover .card-hover {
    opacity: 1; 
}

.card-hover h6{
    color: white;
    text-align: center;
}
.card-hover p {
    font-size: 2rem;
    line-height: 2.25rem;
    color: rgb(255,255,255,0.5);
    text-align: center;
}
.card-hover h6:hover {
    text-decoration: underline;
    cursor: pointer;
}
#project-1 {
    background: url('project-1.jpg');
    background-size: cover;
}
#project-2 {
    background: url('project-2.jpg');
    background-size: cover;
}
#project-3 {
    background: url('project-3.jpg');
    background-size: cover;
}


#contact {
    height: 60vh;
}
.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.contact-card {
    position: relative;
    width: 16rem;
    height: 10rem;
    background-color: lightblue;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: flex;
    flex-wrap: wrap;
    line-height: -5rem;
    align-items: center;
    justify-content: center;
}
.contact-card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
.contact-card:hover {
    transition: color 0.25s linear;
    color: white;
}
.contact-icon {
    width: 2rem;
    height: 2rem;
}
.socials {
    color: black;
    text-decoration: none;
}
.c-card {
    position: relative;
    /* display: inline-block; */
    cursor: pointer;
}

.contact-icon-2 {
    font-size: 24px;
}
.contact-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    font-size: 16px;
    transition: opacity 0.3s ease;
}

.contact-card:hover .contact-icon-2 {
    opacity: 0;
}

.contact-card:hover .contact-text {
    opacity: 1;
}
